img {
  width: 100%;
}
nav {
  text-align: center;

}
body {
  background-color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  text-align: center;
}
h1 {
  font-size: 2.75em;
  font-weight: 600px;
}
h2 {
  font-size: 2.25em;
  font-weight: 500px;
}
h3 {
  font-size: 1.57em;
  font-weight: 400px;
}
a:visited {
  color: #ffffff;
  text-decoration-line: none;
}
a:active {
  color: #4D3D2D;
  text-decoration-line: none;
}
a:hover,
a:focus {
  color: #000000;
  text-decoration-line: none;
}
p {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #8D7053;
  color: #ffffff;
  font-weight: 400;
  padding: 15px;
  border-radius: 5px;
  transition: 0.2s opacity;
  text-decoration: none;
}
<style>
.relative {
 padding: 20px;
 position: relative;
 background-color: #fff;
 margin: 20px;
}
.navitem {
  display: inline-block;
  width: 70px;
  height: 30px;
  text-align: center;
  border: #E8562A ;
  background-color: #E8562A;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
.social {
  text-align: center;
  image-orientation: centered;
}
.contact {
  text-align: center;
}

</style>
